.row-offcanvas {
position: relative;
transition: all .25s ease-out;
}

.row-offcanvas-left {
left: 0;
}

.row-offcanvas-left
.sidebar-offcanvas {
left: -340px; /* 6 columns */
}

.row-offcanvas-left.active {
left: 340px; /* 6 columns */
}

.sidebar-offcanvas {
position: absolute;
top: 0;
width: 340px; /* 6 columns */
}

.main-navigation {
    .logo {
        background-image: url("../images/main-logo.png");
        background-size: contain;
        width: 22px;
        height: 22px;
        overflow: hidden;
        text-indent: 9999px;
    }
}
