$icon-font-path: '../fonts/';

$brand-primary: #F96332;
$navbar-height: 60px;
$navbar-border-radius: 0;
$navbar-default-bg: $brand-primary;

$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
