$brand-primary: #00ff00;
$navbar-height: 80px;
$navbar-default-bg: $brand-primary;
$color: #777;

// bower:scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "global.scss";
@import "footer.scss";
